<!doctype html>
<html>
    <head>
      <title>EU MRV System Shipping Data</title>
    </head>
    <body>
        <h1>This is Hector Page's API for EU MRV data on CO2 emissions from maritime transport</h1>
        <h2>See here for more details:
            <a href="https://mrv.emsa.europa.eu/#public/emission-report">https://mrv.emsa.europa.eu/#public/emission-report</a>
            <br>For enquiries/questions contact: hpage90@gmail.com </h2>
        <br>
        <br>
        <h2><a href="/ships">Row-level data</a>
            <br>
        <a href="/plots/totalCO2">Summary dashboard</a></h2>
        <br>
        <br>
        <h5><a href="https://github.com/HectorPage/hector_api">Find this project on github</a></h5>
    </body>
</html>